<br><br>

<div class="card mt-5 justify-content-center bg-dark" style="width: 80%; margin: 0 20px 10px; padding: 20px ;--bs-bg-opacity: 0.7; color: aliceblue;">
<h4 style="font-family: courier; font-weight: 600;">Do you like to eat? <br>
    No, do you REALLY like to eat? <br>
    Do  you like to get lucky?<br>
    
    Because, my man, it is this last question that should inspire you to read on. Babes like men who cook. That’s right, it gives them shudders to have you cook them a great meal. Ecstatic shudders in places you want. </h4><br>
    <p>Jim Madden, Man Meets Stove.</p>
</div>

<br><br><br><br><br><br>

<div class="container col-md-12 row justify-content-around mt-5 m-auto ">
   

    <div class="card col-md-4 bg-dark" style="--bs-bg-opacity:0.7" >
        <div class="img">
            <img src="../../../assets/pexels-antoni-shkraba-5852227.jpg" class="card-img-top" style="width: 100%; height:100%; width: 100%;">
    
            <h3><p class="carousel-caption" style="border: 2px solid black; align-items: center;">Egg Toast recipe </p></h3>
            <button class="btn" style="color: rgb(255, 115, 0);" routerLink="recipe" ><i class="fa fa-spoon fa-2x"></i>Check recipe</button>
    
        </div>
    
    </div>


<div class="card col-md-4 bg-dark" style="--bs-bg-opacity:0.7" >
    <div class="img">
        <img src="../../../assets/pexels-engin-akyurt-3209101.jpg"  class="card-img-top" style="margin: 0; padding: 0; height:100%; width: 100%;">
        <h3><p class="carousel-caption" style="border: 2px solid black; align-items: center;">Fet. Alfredo Pasta </p></h3>
        <button class="btn" style="color: rgb(255, 115, 0);"  ><i class="fa fa-spoon fa-2x"></i>Check recipe</button>

    </div>

    <div class="recipename">
        <h4></h4>
    </div>
  
</div>




<div class="card col-md-4 bg-dark" style="--bs-bg-opacity:0.7">
    <div class="img">
        <img src="../../../assets/pexels-shameel-mukkath-5175605.jpg" class="card-img-top" style="margin: 0; padding: 0; width: 100%;">
        <h3 ><p class="carousel-caption" style="border: 2px solid black; align-items: center;">Veg Burger </p></h3>
        <button class="btn" style="color: rgb(255, 115, 0);" [routerLink]="['/recipe', recipe.id]" ><i class="fa fa-spoon fa-2x"></i>Check recipe</button>

    </div>

</div>



</div> 



<div class="container col-md-12 row justify-content-between m-auto mt-5">



<div class="col-md-4" >
    
    

    <div class="recipename">
        <h4></h4>
    </div>
  
</div>




<div class="col-md-4" >
    
   

</div>


<div class="col-md-4 " >
    
    


</div> 
</div>